.tableContainer{
    margin-left: 40%;
    margin-top:50px;
    margin-bottom:10%;
}

th{
    background-color: darkblue;
    color:white;
    /* margin-left: 20px; */
    padding-top:5px;
    padding-bottom:5px;
    padding-left:10px;
    padding-right:10px;
    margin: 10px;
    border:4px solid black;
    margin-top: 20px;
}

th:hover{
    cursor: pointer;
    background-color: white;
    color:black;
}
td:hover{
    background-color: aqua;
    color:black;
    text-align: center;
}
table{
    border:6px solid black;
}


td{
    background-color: darkmagenta;
    color: white;
    border:2px solid rgb(209, 196, 12);
    padding-top:5px;
    padding-bottom:5px;
    padding-left:10px;
    padding-right:10px;
    margin:10px;

}